#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  background-color: #eee8de;
  width: 400px;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
